
.frame {
  color: white;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
  padding: 10px;
}

.container0 {
  background-color: white;

  .item0 {
    border-radius: 4px;
    height: 200px;
    width: 100%;
  }
}

.item1 {
  border-radius: 4px;
  height: 200px;
  width: 100%;
}

.item2 {
  border-radius: 4px;
  height: 200px;
  width: 100%;
}