
.frame {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderPadding {
  position: relative;
}

.slider {
  display: grid;
  position: relative;

  .item {
    .buffer {
      margin: 0 4px
    }
  }
}